
h1{
    background-color: aqua;
    color:blue;
    font-size:35px;
    font-weight:bold;
    text-align: center;
}
table{
    background-color:aqua;
}
h3{
    background-color: gray;
}
body{
    background-image:url("../images/abc.png");
")
}
li{
  background-image:url("../images/b.jpg")   
}